/DP-Modelo4/DP-Modelo4/build/
/DP-Modelo4/DP-Modelo4/dist/
/DP-Modelo4/DP-Modelo4/nbproject/private/
/DP-Modelo4/build/
/DP-Modelo4/dist/
/PadraoObserverJava/nbproject/private/
/PadraoObserverJava/build/
/CalculoIMC/nbproject/private/
/Trabalho 1 - Juridico/nbproject/private/
/Trabalho 1 - Juridico/build/
/Trabalho 1 - Juridico/dist/
/ObserverPattern/nbproject/private/
/PadraoObserverJava/dist/
/ObserverPattern/build/
/Observer_ControleEstoque/nbproject/private/
/StrategyPattern/nbproject/private/
/TemplateMethodPattern/nbproject/private/
/_BACKUP/Trabalho 1 - Juridico/build/
/_BACKUP/Trabalho 1 - Juridico/dist/
/_BACKUP/Trabalho 1 - Juridico/nbproject/private/
/ChainOfResponsability/nbproject/private/
/ChainOfResponsability/dist/
/ChainOfResponsability/build/
/PadraoChainOfResponsability/nbproject/private/
/PadraoChainOfResponsability/build/
/13_PadraoComposite/nbproject/private/
/13_PadraoComposite/build/
/14_PadraoBuilder/nbproject/private/
/AdapterPattern/nbproject/private/
/AdapterPattern/build/