/DP-Modelo4/DP-Modelo4/build/
/DP-Modelo4/DP-Modelo4/dist/
/DP-Modelo4/DP-Modelo4/nbproject/private/
/DP-Modelo4/build/
/DP-Modelo4/dist/
/PadraoObserverJava/nbproject/private/
/PadraoObserverJava/build/